.friendList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 100px;
  gap: 10px;
}

.item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.statusOn {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: lightgreen;
}

.statusOff {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}

.name {
  color: blueviolet;
}
